---
import Header from './Header.astro';
import Footer from './Footer.astro';
import SEO from './SEO.astro';
import '../styles/global.css';

interface Props {
  title: string;
  description: string;
  image?: string;
  type?: 'website' | 'article';
}

const { title, description, image, type } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <SEO title={title} description={description} image={image} type={type} />
  </head>
  <body class="min-h-screen flex flex-col">
    <Header />
    <main class="flex-1">
      <slot />
    </main>
    <Footer />
  </body>
</html>
